DB_HOST=postgres
DB_PORT=5432
DB_PASSWORD=password
DB_USER=postgres
DB_NAME=ft_transcendence

BETTER_AUTH_SECRET=

DATABASE_URL="postgresql://postgres:password@postgres:5432/ft_transcendence?schema=public"

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
REDIRECT_URI=https://localhost:9000/nest/auth/callback/google

INITIAL_ADMIN_EMAIL=
INITIAL_ADMIN_PASSWORD=