NODE_ENV=dev # dev || prod
DB_HOST=postgres
DB_PORT=5432
DB_PASSWORD=password
DB_USER=postgres
DB_NAME=ft_transcendence

BETTER_AUTH_SECRET=

DATABASE_URL="postgresql://postgres:password@postgres:5432/ft_transcendence?schema=public"

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
REDIRECT_URI=https://localhost:9000/nest/auth/callback/google

INITIAL_ADMIN_EMAIL=
INITIAL_ADMIN_PASSWORD=

# LocalStack Auth Token (get it from https://app.localstack.cloud/workspace/auth-tokens)
LOCALSTACK_AUTH_TOKEN=

# LocalStack S3 Settings
S3_ENDPOINT=http://localstack:4566
S3_PUBLIC_URL=http://localhost:4566
S3_REGION=us-east-1
S3_ACCESS_KEY=test
S3_SECRET_KEY=test
S3_BUCKET_NAME=uploads

# used by nodemailer
GMAIL_USER=
GMAIL_APP_PASSWORD=