DB_HOST=postgres
DB_PORT=5432
DB_PASSWORD=password
DB_USER=postgres
DB_NAME=ft_transcendence

BETTER_AUTH_SECRET=

DATABASE_URL="postgresql://postgres:password@postgres:5432/ft_transcendence?schema=public"

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
REDIRECT_URI=https://localhost:9000/nest/auth/callback/google

INITIAL_ADMIN_EMAIL=
INITIAL_ADMIN_PASSWORD=

# MinIO Root Credentials
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=!

# MinIO S3 Settings
S3_ENDPOINT=http://minio:9000
S3_PUBLIC_URL=http://localhost:9002
S3_REGION=us-east-1
S3_ACCESS_KEY=${MINIO_ROOT_USER}
S3_SECRET_KEY=${MINIO_ROOT_PASSWORD}
S3_BUCKET_NAME=uploads